body {
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.first-section {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 0 240px;
}

.header {
    display: flex;
    padding: 32px 0 0 0;
    justify-content: space-between;
}

.logo {
    color: #F9FAf8;
    font-size: 24px;
    font-weight: bolder;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 24px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.container1 {
    display: flex;
    padding: 96px 0; 
    justify-content: center;
}

/* .first-section img {
    max-width: 85%;
    height: auto;
} */

.text-container1{
    display: flex;
    flex-direction: column;
    padding-right: 32px;
    justify-content: center;
    gap: 16px;    
}

.title1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.text1 {
    color: #e5e7eb;
    font-size: 18px;
}

button {
    display: flex;
    background-color: #3882f6;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    width: 120px;
    justify-content: center;
}

.second-section {
    display: flex;
    flex-direction: column;
    /* padding: 60px 240px 120px; */
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.container2 {
    display: flex;
    gap: 36px;
    flex-wrap: wrap;
    margin-bottom: 120px;
    justify-content: center;
    align-items: center;
}
.second-section img {
    width: 200px;
    height: 200px;
    margin: 5px;
    border: 5px solid;
    border-color: #3882f6;
    border-radius: 25px;
}

.item {
    width: 220px;
    text-align: center;
}

.title2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin-top: 60px;
}

.third-section {
    background-color: #e5e7eb;
    padding: 120px 240px;
}

.text3 {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}

.undertext3 {
    font-weight: bold;
    text-align: right;
    margin-top: 8px;
}

.fourth-section {
    padding: 120px 240px;
}

.container4 {
    background-color: #3882f6;
    display: flex;
    border-radius: 20px;
    padding: 30px 60px;
    color: white;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}


.title4 {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 8px;
}

.fourth-section button {
    border: 2px solid white;
}

.footer {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: center;
    padding: 32px;
}